@inject ILocalStorageService LocalStorage 
@inject AuthenticationStateProvider AuthenticationStateProvider 

 Please Log in below or <a href="register">register</a> for a new account.
    <EditForm Model="user" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <div class="form-group">
            <label for="username">Username</label>
            <InputText id="username" class="form-control" @bind-Value="user.Username"></InputText>
            <label for="password">Password</label>
            <InputText id="password" class="form-control" type="password" @bind-Value="user.Password"></InputText>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <ValidationSummary></ValidationSummary>
    </EditForm> 

@code {  
    private UserLogin user = new UserLogin();

    private async void HandleLogin()
    {
        await LocalStorage.SetItemAsync<bool>("isAuthenticated", true);
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }
}
