@page "/login"

@if (isAuthenticated)
{
    <h3>Welcome, @user.Username</h3>
}
else
{ 
    <h3>Login</h3>
    <EditForm Model="user" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <div class="form-group">
            <label for="username">Username</label>
            <InputText id="username" class="form-control" @bind-Value="user.Username"></InputText>
            <label for="password">Password</label>
            <InputText id="password" class="form-control" type="password" @bind-Value="user.Password"></InputText>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <ValidationSummary></ValidationSummary>
    </EditForm> 
}

@code {
    bool isAuthenticated = false;

    private UserLogin user = new UserLogin();

    private void HandleLogin()
    {
        Console.WriteLine($"{user.Username} // {user.Password}");
        isAuthenticated = true;
    }
}
